@import url('global2.css');

h1
{
    font-family: 'NexaPerso', sans-serif;
    border-left: #3d59a8 0.5vw solid;
    padding-left: 1vw;
}

.date
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4vw;
    margin: 2vw 1vw 2vw 1vw;
    padding-bottom: 2vw;
    border-bottom: 0.5vw solid #3d59a8;
}

#time
{
    border-bottom: 0.2vw solid  #3d59a8;
}

/* Popup */
.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target
{
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.popup
{
    margin-top: 10vw;
    margin-left: 30vw;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 40%;
    font-size: 1.5vw;
    position: relative;
}

.popup h2
{
    margin-top: 0;
    color: #3d59a8;
}

.popup .close
{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover
{
    color: #3d59a8;
}

.popup .content
{
    max-height: 30%;
    padding: 0;
    overflow: auto;
} /* Fin de popup*/

.langages_et_titres, .design
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw 1vw 2vw 1vw;
}

.langages
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.langages img
{
    padding-bottom: 1vw;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.langages img:hover
{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.logo_html
{
    width: 9vw;
}

.logo_css
{
    width: 7vw;
}

.logo_php, .logo_java
{
    width: 12vw;
}

.boutton
{
    width: 23%;
    background-color: #3d59a8;
    color: white;
    padding: 0.6vw 1.5vw;
    margin-left: 10vw;
    border: none;
    border-radius: 4vw;
    cursor: pointer;
    font-family: 'NexaPerso', sans-serif;
    font-size: 1.8vw;
    transition: 300ms;
}

.boutton:hover
{
    background: #000000;
}

.boutton:focus
{
    outline: none;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img
{
    width: 10vw;
}

@media screen and (max-width: 1000px)
{
    .popup
    {
        width: 60%;
        margin-left: 20vw;
        font-size: 3vw;
    }

    .logo_html
    {
        width: 25vw;
    }

    .logo_css
    {
        width: 18vw;
    }

    .logo_php, .logo_java
    {
        width: 27vw;
    }

    .boutton
    {
        font-size: 3vw;
        width: 35%;
    }

    footer img
    {
        width: 13vw;
    }
} /* Fin de queries */